[run]
branch = True
omit = */python3.7/*
        *.virtualenvs/*
        */venv/*
        */test*.py
        */migrations/*
        */urls.py
        */manage.py
        */wsgi.py
	*/newsletter/*
	*/Python/*
