before_script:
  - git config user.email "krisfjen@stud.ntnu.no"
  - git config user.name "Kristian Flatheim Jensen"
  - apt-get install -y python3.5-dev python-pip
  - pip install Django
run_tests:
  script:
    - python manage.py test
  
deploy_to_heroku:
  type: deploy
  script:
    - git push --force https://heroku:$HEROKU_API_KEY@git.heroku.com/eventify-site.git HEAD:master
  only:
    - master