before_script:
  - pip install flake8
  - git config user.email "krisfjen@stud.ntnu.no"
  - git config user.name "Kristian Flatheim Jensen"

pep8:
  script:
    - flake8 .

test_on_heroku:
  type: deploy
  script:
    - git push --force https://heroku:$HEROKU_API_KEY@git.heroku.com/eventify-site.git HEAD:master
  only:
    - master