image: python:latest

services:
    - postgres:latest

before_script:
  - git config user.email "krisfjen@stud.ntnu.no"
  - git config user.name "Kristian Flatheim Jensen"

pep8:
  script:
    - pip install flake8
    - flake8

run_tests:
  script:  
    - export DATABASE_URL=postgres://postgres:@postgres:5432/
    - pip install -r requirements.txt
    - coverage run --source='.' manage.py test main
    - coverage report
    - coverage-badge -o coverage.svg
  
deploy_to_heroku:
  type: deploy
  script:
    - git push --force https://heroku:$HEROKU_API_KEY@git.heroku.com/eventify-site.git HEAD:master
  only:
    - master