Django==2.1.7
numpy==1.15.2
pyserial==3.4
Pillow==5.4.1
dj-database-url==0.5.0
whitenoise==4.1.2
django-bootstrap4==0.0.7
Pillow==5.4.1
pytz==2018.9
psycopg2==2.7.2
gunicorn==19.9.0
django-newsletter==0.8b1
coverage==4.5.3
git+git://github.com/dokterbob/django-newsletter.git

