{% extends 'main/base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}

    <div class="container" style="padding-bottom: 30px">
      <h2>Registrer deg</h2>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
          <a href="{% url 'terms' %}" target="_blank">Betingelser for bruk av siden og retningslinjer for personvern</a><br/><br/>
        <button class="btn teal lighten-2" type = "submit">register</button>
      </form>
    </div>
{% endblock %}