<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Eventify - {% block title %}
            {% endblock %}</title>
    {% load static %}

    <!-- CSS -->
    <link rel="stylesheet" type="text/css"  href="{% static 'main/materialize.css' %}">
    <!-- JS -->
    <script src="{% static "main/materialize.js" %}"></script>

</head>

    <body>
        {% include "main/navbar.html" %}

        {% include "main/header.html" %}

            {% block content %}
            {% endblock %}

        {% include "main/footer.html" %}


      <div class="row">
      	{% for event in events %}
	    <div class="col s12 m6">
	      <div class="card green hoverable">
	        <div class="card-content green">
	          <span class="card-title">{{event.name}}</span>
	          <p>{{event.price}}</p>
	          <p>{{event.date}}</p>
	          <p>{{event.location}}</p>
	          <p style="font-size:70%">Hosted by: {{event.organizer}}</p>
	        </div>
	      </div>
	    </div>
	    {% endfor %}
	  </div>





    </body>

</html>