<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Eventify - {% block title %}
            {% endblock %}</title>
    {% load static %}

    <!-- CSS -->
    <link rel="stylesheet" type="text/css"  href="{% static 'main/materialize.css' %}">
    <!-- JS -->
    <script src="{% static 'main/materialize.js' %}"></script>

</head>

    <body>
        {% include "main/navbar.html" %}

        {% include "main/header.html" %}

            {% block content %}
            {% endblock %}

        {% include "main/footer.html" %}

    </body>

</html>