<footer class="page-footer black" style="margin-top: 50px">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Our mission</h5>
                <p class="grey-text text-lighten-4">We want to give every individual the right to select from a wide array of events to attend.</p>
                <p class="grey-text text-lighten-4">For us, this responsibility is of utmost importance and we will never hesitate to disrupt the industry.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Eventify Manifesto</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">About us</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Privacy Policy</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2019 Eventify Events Event Facilitator Inc.
            </div>
          </div>
  </footer>