  <footer class="page-footer black">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Whom are we?</h5>
                <p class="grey-text text-lighten-4">We are the world.</p>
                <p class="grey-text text-lighten-4">We are the children.</p>
                <p class="grey-text text-lighten-4">We are the ones who make a brighter day.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Eventify Manifesto</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Contact us</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Privacy Policy</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2019 Eventify Events Inc.
            <a class="grey-text text-lighten-4 right" href="#">Bring me back up</a>
            </div>
          </div>
  </footer>