{% extends 'main/base.html' %}


{% block title %}

    {% if user.is_authenticated %}
        {{ user.username }}
    {% else %}
        Home
    {% endif %}
{% endblock %}


{% block content %}
    {% load static from staticfiles %}
<body>
  <div class="slider">
      <ul class="slides" style="text-shadow: 4px 4px 7px rgba(0,0,0,0.5)">
        <li>
          <img src="{% static 'main/images/audience.jpg' %}" style="opacity:0.8" alt="Audience"/> <!-- random image -->
          <div class="caption center-align">
                <h1 style="font-size: 80px;"><i class="material-icons" style="font-size: 57px;">graphic_eq</i> Eventify</h1>
                <h5 style="margin-top: 120px">We are #fortheaudience</h5>
          </div>
        </li>
        <li>
          <img src="{% static 'main/images/festival.jpg' %}" style="opacity:0.8"  alt="Festival">
          <div class="caption right-align">
            <h2 style="margin-top: 90px">All the hottest events!</h2>
            <h5 class="light text-lighten-3">Eventify collaborates with the biggest festivals and concert organizers to give you a perfectly tailored experience.</h5>
          </div>
        </li>
        <li>
          <img src="{% static 'main/images/flares.jpg' %}" style="opacity:0.8"  alt="Flares"> <!-- random image -->
          <div class="caption left-align">
            <h2 style="margin-top: 90px">No FOMO</h2>
            <h5 class="light text-lighten-3">Never worry about missing an event. Browse through our wide portfolio of events and find one that suits you!</h5>
          </div>
        </li>
        <li>
          <img src="{% static 'main/images/club.jpg' %}" style="opacity:0.5"  alt="Club"> <!-- random image -->
          <div class="caption right-align">
            <h2 style="margin-top: 90px">Events for everyone</h2>
            <h5 class="light text-lighten-3">Our selection of events span a wide range of themes and venues. You will always find an event that fits your style. That is our guarantee to you</h5>
          </div>
        </li>
        <li>
          <img src="{% static 'main/images/band.jpg' %}" style="opacity:0.8"  alt="Band"> <!-- random image -->
          <div class="caption center-align">
            <h2>Sign up for an account!</h2>
            <h5 class="light text-lighten-3">Sign up today and start Eventifying!</h5>
            <br/><a style="text-shadow: none" class="waves-effect waves-light btn-small" href = "{% url 'signup' %}">Sign up</a>
          </div>
        </li>
      </ul>
  </div>

  <div class="row" style="width: 80%; margin-top:40px;">
    <div class="center-align col s12 m4 l4">
        <ul><li><a href="sass.html"><i class="large material-icons black-text">flash_on</i></a></li></ul>
        <h4>Up to date</h4>
        <h7>Get notifications about any nearby events, the latest updates on events you are attending and subscribe to our weekly newsletter! </h7>
    </div>
    <div class="center-align col s12 m4 l4">
      <ul><li><a href="sass.html"><i class="large material-icons black-text">account_circle</i></a></li></ul>
      <h4>User</h4>
      <h7>It is free to register an account at Eventify. You get your own profile with an overview over all your events.</h7>
    </div>
    <div class="center-align col s12 m4 l4">
      <ul><li><a href="sass.html"><i class="large material-icons black-text">add_circle</i></a></li></ul>
      <h4>Add Events</h4>
      <h7>With Eventify the biggest events are only one click away. Add events instantly and manage your Event-portfolio easily.</h7>
    </div>
  </div>
</body>


{% endblock %}