  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper green">
        <a href="{% url 'home' %}" style="margin-left: 20px" class="brand-logo">Eventify</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="{% url 'events' %}">Arrangementer</a></li>
          <li><a href="sass.html">Informasjon</a></li>

          <li><a>
          <div class="input-field">
              <input id="search" type="search" required>
              <label class="label-icon" for="search"><i style="font-size:90%"    class="material-icons">Søk</i></label>
              <i style="font-size:80%"  class="material-icons">Lukk</i>
          </div>
          </a></li>

          {% if user.is_authenticated %}
              <li><b><a href="{% url 'profile' %}">{{ user.username }}</a></b></li>
              {% if user.is_superuser %}
              <li><b><a href="{% url 'admin:index' %}">Adminpanel</a></b></li>
              {% endif %}

          <li><a href="{% url 'logout' %}">Logg ut</a></li>
          {% else %}
          <li><a href="{% url 'login' %}">Logg inn</a></li>
          <li><a href="{% url 'signup' %}">Registrer deg</a></li>
          {% endif %}

        </ul>
      </div>
    </nav>
  </div>