{% extends 'main/base.html' %}

{% block title %}
    {% if user.is_authenticated %}
        {{user.username}}
    {% else %}
        Not logged in.
    {% endif %}
{% endblock %}

{% block content %}

    <div class="container" style="display:flex; flex-direction: column; justify-content: space-evenly; align-items: center; text-align: left; min-height: 60vh">
        {% if user.is_authenticated %}
                    <h4>Hi {{user.username}}! Here is your profile:</h4>
                    <h5>First name: {{user.first_name}}</h5>
                    <h5>Last name: {{user.last_name}}</h5>
                    <h5>E-mail: {{user.email}}</h5>
                    <h5>Receive newsletters: {% if subscribed %}Yes{% else %}No{% endif %}</h5>
                    <a href="{% url 'edit_profile' %}">Update profile</a>
        {% else %}
          <p>You are not logged in.</p>
            <br/>
          <a href="{% url 'login' %}">Login</a>
          <a href="{% url 'signup' %}">Sign up</a>
        {% endif %}
    </div>
{% endblock %}